@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --font-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --font-color: white;
  }
}

body {
  color: --font-color;
  background: --background-color;
}